
@import 'https://fonts.googleapis.com/css?family=Mitr';

.font {
    font-family: 'Mitr';
    border-radius: 24px;
}
body.font {
    font-family: 'Mitr';
}

nav {
    border-radius: 24px;
    color: white;
}

.border-radius{
    border-radius: 24px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

